<!DOCTYPE html>
<html class="sm-scrollbar-black" lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link th:href="@{/css/smart.css}" href="../static/css/smart.css" rel="stylesheet" />
<link th:href="@{/css/msmart.css}" href="../static/css/msmart.css" rel="stylesheet" />
<link th:href="@{/css/materialize/materialize.css}" type="text/css" rel="stylesheet"
      href="../static/css/materialize/materialize.css" media="screen,projection"/>
<title>我们不生产种子，我们只搜集、传播种子</title>
</head>
<body>
<div id="move_root">
    <div class="sm-width-100-per sm-height-10-per ms-layout-center-horizontal sm-bottom-border-2px-black">
        <div class="sm-width-40-per sm-height-100-per ms-layout-center-horizontal ebug">
            <a href="#!" class="brand-logo">Logo</a>
        </div>
        <div class="ms-layout-center-horizontal sm-width-60-per sm-height-100-per ">
            <div class="sm-width-50-per ms-height-100-per ms-layout-center-horizontal ">
               <div ><a href="#" v-on:click="allmove">全部</a></div>
               <div class="sm-margin-left-1rem"><a href="#" v-on:click="eaMove">欧美电影</a></div>
               <div class="sm-margin-left-1rem"><a href="#" v-on:click="domesticMove">国产电影</a></div>
               <div class="sm-margin-left-1rem"><a href="#" v-on:click="jskMove">日韩电影</a></div>
               <div class="sm-margin-left-1rem"><a href="#" v-on:click="animationMove">动画电影</a></div>
               <div class="sm-margin-left-1rem"><a href="#" v-on:click="otherMove">其他</a></div>
            </div>
            <div class="sm-width-50-per ms-height-100-per sm-layout-left-center ">
                <div class="sm-height-100-per sm-width-40-per">
                    <input type="text" placeholder="电影名称"/>
                </div>
                <div class=" sm-height-100-per sm-width-10-per sm-layout-center-horizontal-with-wrap">
                    <a class="waves-effect waves-light">搜索</a>
                </div>
            </div>
        </div>
    </div>
    <!--电影列表-->
    <div class="sm-height-90-per sm-width-100-per sm-layout-center-horizontal">
        <div class="sm-height-100-per sm-width-15-per ms-layout-wrap-vertical">
            要贴广告？来呀！联系我们！
        </div>
        <div class="sm-height-100-per sm-width-70-per sm-left-border-2px-black sm-right-border-2px-black">

            <div class="sm-height-8-per sm-width-100-per">
                <table class="bordered highlight centered">
                    <thead>
                    <tr>
                        <th style="width: 10%">类型</th>
                        <th style="width: 60%">种子链接</th>
                        <th style="width: 10%">大小</th>
                        <th style="width: 20%">日期</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="ms-height-82-per sm-width-100-per ms-scrollbar-black" style="overflow: scroll">
                <table class="bordered highlight centered">
                    <tbody>
                    <tr v-for ="item in moves">
                        <td style="width: 10%">{{item.move_type}}</td>
                        <td style="width: 60%"><a v-bind:href="item.resource">{{item.move_name}}</a></td>
                        <td style="width: 10%">{{item.size}}</td>
                        <td style="width: 20%">{{item.gain_date}}</td>
                    </tr>

                    </tbody>
                </table>

            </div>
            <!--分页-->
            <div class="ms-height-8-per ms-width-100-per ms-margin-top-1rem ">


                <ul class="pagination ">
                    <li v-bind:class="{ disabled: page == 1 }"><a href="#!" v-on:click="paging(1)">首页</a></li>
                    <li v-bind:class="{ disabled: page == 1 }"><a v-bind:class="{ disabled: page == pageTotal }" href="#!" v-on:click="paging(page-1)">&lt;</a></li>
                    <li v-for="item in pageTotal" v-bind:class="{active: page == item}" v-show="(page < 5 && item <10)||(item>=(page-4) && item<=(page+4))||page>=(pageTotal-4)&&item>(pageTotal-9)"><a href="#!" v-on:click="paging(item)">{{item}}</a></li>
                    <li v-bind:class="{ disabled: page == pageTotal }" class="waves-effect"><a href="#!" v-on:click="paging(page+1)" >	&gt;</a></li>
                    <li v-bind:class="{ disabled: page == pageTotal }"><a href="#!" v-on:click="paging(pageTotal)" >末页</a></li>
                    <li ><a href="#!">共<span class="ms-text-color-read-only">{{pageTotal}}</span>页</a></li>
                    <li ><a href="#!">共<span class="ms-text-color-read-only">{{count}}</span>条数据</a></li>
                </ul>

            </div>
            <div class="ms-width-100-per ms-height-10-per ms-layout-center-horizontal sm-left-border-2px-black sm-right-border-2px-black" style="background-color: #dddddd">网站数据均来源于网络，我们只提供web页面服务，并不提供影片资源存储，也不参与录制、上传 若本站收录的节目无意侵犯了贵司版权，请给网页底部邮箱地址来信，我们会及时处理和回复，谢谢。</div>
        </div>
        <div class="sm-height-100-per sm-width-15-per ms-layout-wrap-vertical">
            要贴广告？来呀！联系我们！
        </div>

    </div>

</div>

</body>

<script th:src="@{/js/jquery-3.2.1.min.js}" src="../static/js/jquery-3.2.1.min.js"></script>
<script th:src="@{/js/materialize/materialize.js}" src="../static/js/materialize/materialize.js"></script>
<script th:src="@{/js/vue/vue.js}" src="../static/js/vue/vue.js"></script>
<script th:src="@{/js/vue/vue-resource.min.js}" src="../static/js/vue/vue-resource.min.js"></script>
<script th:src="@{/js/move/init.js}" src="../static/js/move/init.js"></script>
<script th:src="@{/js/move/index/index.js}" src="../static/js/move/index/index.js"></script>
<script th:inline="javascript" type="text/javascript">
    $().ready(function () {
        initSize($("#move_root"))
        initVue();
    })

</script>
</html>